@{
    ViewData["Title"] = "Patient Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2, h3 {
        font-weight: 700;
    }

    hr {
        border-top: 2px solid #007bff;
        margin: 1rem auto;
    }
</style>

<h2 class="text-center text-capitalize mb-1">Welcome, Patient!</h2>
<p class="text-center mb-4 text-muted">You can now book appointments, view your history, and manage your profile.</p>
<hr />